.container {
    max-width: 50rem; 
    margin: 0 auto;
    text-align: center;
  }
  :where(.css-dev-only-do-not-override-1adbn6x).ant-input-disabled, :where(.css-dev-only-do-not-override-1adbn6x).ant-input[disabled] {
    color: black;
    width: 100%;
    top: 0.6rem; 
  }
  .add {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between; 
    margin-left: 23.75rem; 
  }
  :where(.css-dev-only-do-not-override-1adbn6x).ant-btn {
    margin-left: -37.5rem; 
  }
  .selection Select {
    width: 40%; 
    margin-right: 1.25rem;
  }
  :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-thead >tr>td {
    color: rgba(255, 255, 255, 0.88);
    background: #113857; 
  }
  :where(.css-dev-only-do-not-override-1adbn6x).ant-form-inline {
    gap: 2rem;
  }
  .district-table{
    position: relative;
    left: -8rem;
  }